$darkBlue: hsl(217, 28%, 15%);
$darkBlueMain: hsl(218, 28%, 13%);
$darkBlueFooter: hsl(216, 53%, 9%);
$darkBlueTestimonials: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
